DEBUG/test
DEBUG/test2
DEBUG/test3
DEBUG/test10.txt
DEBUG/script.txt
DEBUG/part1.log
DEBUG/part2.log
DEBUG/part3.log
DEBUG/part4.log
DEBUG/part5.log
DEBUG/part6_1.log
DEBUG/part6.log
DEBUG/todo_17022023.txt
configure_multicluster_gitops/old_appset/ocp4dev-ocp4stage-cluster-init-secrets.yaml
