apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: spring-petclinic
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
      - cluster: ocp4hub
        url: https://api.ocp4hub.sandbox963.opentlc.com:6443
        namespace: devsecops-dev
      - cluster: ocp4stage
        url: https://api.ocp4stage.sandbox963.opentlc.com:6443
        namespace: devsecops-qa
  template:
    metadata:
      name: '{{cluster}}-spring-petclinic'
    spec:
      project: spring-petclinic
      source:
        repoURL: https://github.com/gamagnolo/spring-petclinic-config
        targetRevision: HEAD
        path: environments/{{cluster}}
      destination:
        server: '{{url}}'
        namespace: '{{namespace}}'

## environments/stage
## environments/dev